/* Astrick Wildcard selector to override default style added to our browser */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/* General style */
body{
    min-height:100vh;
    display:flex;
    flex-direction: column;
    /* Generic Project style */
    color:#3a3a3a;
}
/* Header */
header{
    background-color: blue;
}
/* Main */
main{
    background-color:rgb(218, 211, 171);
    /* Make main content take up any space needed in the browser */
    flex:1 0 auto;
}
/* Footer */
footer{
    background-color:brown
}


