/* Astrick Wildcard selector to override default style added to our browser */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/* Header */
header{
    background-color: blue;
}
/* Main */
main{
    background-color:chartreuse
}
/* Footer */
footer{
    background-color:brown
}
body{
    min-height:100%;
}
